@import "../../config";

.content {
    max-width: 500px;
}

.buttons {
    text-align: center;
}

h2 {
    margin: -24px -24px 0 -24px;
    padding: 15px 24px;
    background-color: $primary;
    color: #fff;
    text-transform: uppercase;
}

.footer {
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid #ccc;

    .c4l {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        background-image: url(https://www.codersforlabour.com/assets/logo-full2.png);
        width: 25px;
        height: 30px;
        background-size: cover;
    }
}