<div class="content">
  <h2>Welcome!</h2>
  <p>
    <b>Now updated for the 2019 General Election!</b>
  </p>
  <p>
    This is a simple income tax calculator to estimate the difference in tax would be under a Labour government.
  </p>
  <p>
    Use the slider on the left to adjust the annual salary, or tap on the salary at the top to enter your own.
  </p>
  <div class="buttons">
    <button mat-mini-fab (click)="close()"><mat-icon>check</mat-icon></button>
  </div>
  <div class="footer">
    <a href="https://www.codersforlabour.com" target="_blank" class="c4l"></a>
    <a href="https://www.codersforlabour.com" target="_blank">Made by Volunteers</a>
  </div>
</div>
