<h1>
  {{title}}
</h1>
<div class="mat-slider mat-slider-horizontal" style="width: 100%">
  <div class="mat-slider-wrapper">
    <div class="mat-slider-thumb-container" style="transform: translateX(-55.5556%);">
      <div class="mat-slider-thumb marker">£80,000</div>
    </div>
    <div class="mat-slider-thumb-container" style="transform: translateX(-46.4646%);">
      <div class="mat-slider-thumb marker">£123,000</div>
    </div>
  </div>
</div>
<md-slider step="1" min="1" max="100" style="width: 100%" (input)="onInputChange($event)" (change)="onInputChange($event)" value="22" #slider></md-slider>
Salary: {{ salary | currency:'GBP':true:'1.0-0' }} / year
<div *ngIf="current && proposed">
  Allowance: {{ current.allowance }}<br/>
  Taxable Income: {{ current.taxable | currency:'GBP':true:'1.2-2' }}<br/>
  After Tax: {{ current.net | currency:'GBP':true:'1.2-2' }}<br/>
  Change: <span *ngIf="proposed.tax - current.tax == 0">No Change</span><span *ngIf="proposed.tax - current.tax > 0">{{ proposed.tax - current.tax | currency:'GBP':true:'1.2-2' }} / year</span>
  <br/>
  <div style="float: left; width: 50%">
    <pre style="padding: 10px">{{ current | json }}

NI: {{ ni }}
Take Home: {{ current?.net - ni }}
    </pre>
  </div>
  <div style="float: left; width: 50%">
    <pre style="padding: 10px">{{ proposed | json }}

NI: {{ ni }}
Take Home: {{ proposed?.net - ni }}
    </pre>
  </div>
</div>