<md-sidenav-container>
  <md-sidenav #sidenav mode="push" opened="false">
    <header class="sidenav-header">
        <md-icon (click)="sidenav.toggle()">close</md-icon>
        Info
    </header>
    <div class="sidenav-content" cdk-focus-start>
      <h3>Instructions</h3>
      <p>
        Use the slider on the left to adjust the annual salary, or tap on the salary at the top to enter your own.
      </p>
      <p>
        You can change the comparison values to annual, monthly or weekly by using the time menu on the top right or by clicking/tapping the area.
      </p>
      <h3>Notes about this tool:</h3>
      <ul>
        <li>It is for illustration purposes only.</li>
        <li>Calculations are estimates.</li>
        <li>It does not take into account additional deductions e.g. childcare vouchers, pensions, etc.</li>
        <li>The "take home"" amount includes National Insurance deductions which may be calculated slightly differently than HMRC would.</li>
        <li>It uses the England, Wales and Northern Ireland tax bands. Scotland's are devolved so difficult to compare.</li>
      </ul>
      Source code available on <a href="https://github.com/coders-for-labour/campaign-tracker">GitHub</a>
    </div>
    <footer class="sidenav-footer">
      <a href="http://www.codersforlabour.com" target="_blank">Made by Volunteers</a>
      <a href="http://www.codersforlabour.com" target="_blank" class="c4l"></a>
    </footer>
  </md-sidenav>
  <main>
    <header>
      <button md-icon-button (click)="sidenav.toggle()" class="sidenav-toggle">
        <md-icon>info_outline</md-icon>
      </button>
      <h1>Tax Calculator</h1>
      <button md-icon-button [mdMenuTriggerFor]="timeMenu" class="time-button">
        <md-icon>more_vert</md-icon>
      </button>
    </header>
    <md-menu #timeMenu="mdMenu">
      <button md-menu-item (click)="setTimePeriod(0)">
        <md-icon *ngIf="cyclerIndex == 0">radio_button_checked</md-icon>
        <md-icon *ngIf="cyclerIndex != 0">radio_button_unchecked</md-icon>
        <span>Yearly</span>
      </button>
      <button md-menu-item (click)="setTimePeriod(1)">
        <md-icon *ngIf="cyclerIndex == 1">radio_button_checked</md-icon>
        <md-icon *ngIf="cyclerIndex != 1">radio_button_unchecked</md-icon>
        <span>Monthly</span>
      </button>
      <button md-menu-item (click)="setTimePeriod(2)">
        <md-icon *ngIf="cyclerIndex == 2">radio_button_checked</md-icon>
        <md-icon *ngIf="cyclerIndex != 2">radio_button_unchecked</md-icon>
        <span>Weekly</span>
      </button>
      <hr />
      <button md-menu-item (click)="advanced = !advanced">
        <md-icon *ngIf="advanced">check_box</md-icon>
        <md-icon *ngIf="!advanced">check_box_outline_blank</md-icon>
        <span>Advanced</span>
      </button>
    </md-menu>
    <div id="slider" [ngClass]="{ 'open': !manualEntry }">
      <div class="markers">
        <div (click)="setSlider(47)" class="avg">
          <label>UK Avg</label>
        </div>
        <div (click)="setSlider(47)" class="k27-5">
          <label>£27.5k</label>
        </div>
        <div (click)="setSlider(97)" class="k80">
          <label>£80k</label>
        </div>
        <div (click)="setSlider(126)" class="k150">
          <label>£150k</label>
        </div>
        <div (click)="setSlider(97)" class="top5">
          <label>Top 5%</label>
        </div>
      </div>
      <md-slider step="1" min="1" max="150" vertical (input)="onInputChange($event)" (change)="onInputChange($event)" value="47" #slider></md-slider>
    </div>
    <div id="content" [ngClass]="{ 'slider': !manualEntry }">
      <div class="results" *ngIf="current && proposed">
        <h5 (click)="manualEntry = true">Annual Salary <span *ngIf="!manualEntry">(Tap to edit)</span></h5>
        <div class="salary-display" (click)="manualEntry = true" *ngIf="!manualEntry">
          {{ salary | currency:'GBP':true:'1.0-0' }}
        </div>
        <div class="manual-input" *ngIf="manualEntry">
          <input type="number" [(ngModel)]="salary" max="9" pattern="[0-9]" autofocus />
          <md-icon (click)="manualEntry = false">close</md-icon>
        </div>
        <div class="comparison">
          <cycler [auto]="false" #comparisonCycler>
            <cycler-item>
              <div class="left">
                  <h4>Current</h4>
                  <h5>Tax</h5>
                  <div class="amount">{{ current.tax | currency:'GBP':true:'1.2-2' }}<span>/yr</span></div>
                  <h5>Take Home</h5> 
                  <div class="amount">{{ current.net - ni | currency:'GBP':true:'1.2-2' }}<span>/yr</span></div>
              </div>
              <div class="right">
                  <h4>Labour</h4>
                  <h5>Tax</h5> 
                  <div class="amount">{{ proposed.tax | currency:'GBP':true:'1.2-2' }}<span>/yr</span></div>
                  <h5>Take Home</h5>
                  <div class="amount">{{ proposed.net - ni | currency:'GBP':true:'1.2-2' }}<span>/yr</span></div>
              </div>
            </cycler-item>
            <cycler-item>
              <div class="left">
                  <h4>Current</h4>
                  <h5>Tax</h5>
                  <div class="amount">{{ current.tax / 12 | currency:'GBP':true:'1.2-2' }}<span>/mth</span></div>
                  <h5>Take Home</h5> 
                  <div class="amount">{{ (current.net - ni) / 12 | currency:'GBP':true:'1.2-2' }}<span>/mth</span></div>
              </div>
              <div class="right">
                  <h4>Labour</h4>
                  <h5>Tax</h5>
                  <div class="amount">{{ proposed.tax / 12 | currency:'GBP':true:'1.2-2' }}<span>/mth</span></div>
                  <h5>Take Home</h5>
                  <div class="amount">{{ (proposed.net - ni) / 12 | currency:'GBP':true:'1.2-2' }}<span>/mth</span></div>
              </div>
            </cycler-item>
            <cycler-item>
              <div class="left">
                  <h4>Current</h4>
                  <h5>Tax</h5>
                  <div class="amount">{{ current.tax / 52 | currency:'GBP':true:'1.2-2' }}<span>/wk</span></div>
                  <h5>Take Home</h5> 
                  <div class="amount">{{ (current.net - ni) / 52 | currency:'GBP':true:'1.2-2' }}<span>/wk</span></div>
              </div>
              <div class="right">
                  <h4>Labour</h4>
                  <h5>Tax</h5>
                  <div class="amount">{{ proposed.tax / 52 | currency:'GBP':true:'1.2-2' }}<span>/wk</span></div>
                  <h5>Take Home</h5>
                  <div class="amount">{{ (proposed.net - ni) / 52 | currency:'GBP':true:'1.2-2' }}<span>/wk</span></div>
              </div>
            </cycler-item>
          </cycler>
        </div>
        <div class="change">
          <h5>
            <!--<div class="change-symbols">
              <i [ngClass]="{ active: proposed.tax - current.tax > 0 }">+</i>
              /
              <i [ngClass]="{ active: proposed.tax - current.tax < 0 }">-</i>
            </div>-->
            Tax Change
          </h5>
          <div *ngIf="proposed.tax - current.tax != 0">
            <div class="amount l">{{ proposed.tax - current.tax > 0 ? '+' : '' }}{{ proposed.tax - current.tax | currency:'GBP':true:'1.2-2' }}<span>/yr</span></div>
            <div class="amount l">{{ proposed.tax - current.tax > 0 ? '+' : '' }}{{ (proposed.tax - current.tax) / 12 | currency:'GBP':true:'1.2-2' }}<span>/mth</span></div>
            <div class="amount l">{{ proposed.tax - current.tax > 0 ? '+' : '' }}{{ (proposed.tax - current.tax) / 52 | currency:'GBP':true:'1.2-2' }}<span>/wk</span></div>
          </div>
          <div class="amount xxl" *ngIf="proposed.tax - current.tax == 0">NONE</div>
        </div>
      </div>
      <!--<div class="pay-for" *ngIf="wcipfResults && wcipfResults.length > 0">
        <h3>Could pay for any of these</h3>
        <ul>
          <li *ngFor="let item of wcipfResults">
            {{ item.total | number:'1.0-0' }} {{ item.total > 1 && item.plural ? item.plural : item.name }} / yr
          </li>
        </ul>
      </div>-->
      <ng-template [ngIf]="current && proposed && !advanced">
        <div class="benefit" *ngIf="proposed.tax - current.tax > 0">
          Looks like you'd be paying more tax under Labour. This might be a concern but you would be contributing to a better society by having things like a fully funded NHS.
        </div>
        <div class="benefit" *ngIf="proposed.tax - current.tax == 0">
          You won't be paying any more tax. Even so, you'll still get great stuff like a fully funded NHS and no tuition fees.
        </div>
      </ng-template>
      <div class="breakdown" *ngIf="advanced">
        <h3>Current</h3>
        Allowance: {{ current.allowance | currency:'GBP':true:'1.2-2' }}<br/>
        Taxable: {{ current.taxable | currency:'GBP':true:'1.2-2' }}<br/>
        Breakdown:
        <ul>
          <li *ngFor="let band of current.bands | mapValues">
            {{ band.key }} ({{band.value.rate}}%): {{ band.value.tax | currency:'GBP':true:'1.2-2' }}
          </li>
        </ul>
        <h3>Labour</h3>
        Allowance: {{ proposed.allowance | currency:'GBP':true:'1.2-2' }}<br/>
        Taxable: {{ current.taxable | currency:'GBP':true:'1.2-2' }}<br/>
        Breakdown:
        <ul>
          <li *ngFor="let band of proposed.bands | mapValues">
            {{ band.key }} ({{band.value.rate}}%): {{ band.value.tax | currency:'GBP':true:'1.2-2' }}
          </li>
        </ul>
      </div>
    </div>
  </main>
</md-sidenav-container>
