/* You can add global styles to this file, and also import other style files */
@import "material";

$primary: #E4003B;
$secondary: #C50037;
$primary-font: 'Open Sans', Arial, Helvetica, sans-serif;

html,body {
    font-family: $primary-font;
    margin: 0;
    padding: 0;
}

html, body, md-sidenav-container, main {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

main {
    position: relative;
    background-color: $secondary;

    @media (min-width: 800px) {
        max-width: 600px;
    }

    > header {
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        background-color: $primary;
        padding: 18px;
        position: relative;

        .sidenav-toggle {
            position: absolute;
            top: 22px;
            left: 17px;
            cursor: pointer;
        }

        h1 {
            margin: 0;
            font-size: 22px;
        }
    }
}

.sidenav-header {
    padding: 14px;
    color: #fff;
    font-weight: 700;
    background-color: $primary;
    text-transform: uppercase;

    md-icon {
        position: absolute;
        top: 13px;
        right: 13px;
        cursor: pointer;
    }
}

.sidenav-content {
    position: absolute;
    top: 50px;
    bottom: 50px;
    overflow: auto;
    padding: 15px;
}

.sidenav-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 14px;
    color: #fff;
    font-weight: 700;
    background-color: $primary;

    a {
        color: #fff;
        text-decoration: none;
        display: block;
    }

    .c4l {
        position: absolute;
        top: 5px;
        right: 8px;
        background-image: url(http://www.codersforlabour.com/assets/logo-white.png);
        width: 35px;
        height: 40px;
        background-size: cover;
    }
}

#slider {
    position: absolute;
    top: 86px;
    bottom: 20px;
    width: 110px;
    left: -110px;
    background-color: #fff;
    border-radius: 0 6px 6px 0;
    padding: 20px 0;
    transition: left 0.5s ease-in-out;
    
    &.open {
        left: 0;

        .markers {
            display: block;
        }
    }

    .markers {
        position: absolute;
        left: 0;
        top: 20px;
        bottom: 20px;
        display: none;

        > div {
            top: 8px;
            bottom: 8px;
            position: absolute;

            label {
                position: absolute;
                bottom: -14px;
                left: 70px;
                background-color: #000;
                color: #fff;
                padding: 6px 0;
                text-align: center;
                font-size: 12px;
                font-weight: 800;
                width: 48px;

                &:before {
                    content: "";
                    position: absolute;
                    left: -8px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 8px 8px 8px 0;
                    border-color: transparent #000000 transparent transparent;
                }
            }

            &.top5,
            &.avg {
                label {
                    left: auto;
                    bottom: -22px;
                    right: -36px;
                    width: 36px;
                    background-color: $secondary;

                    &:before {
                        left: auto;
                        right: -8px;
                        top: 50%;
                        margin-top: -8px;
                        border-style: solid;
                        border-width: 8px 0 8px 8px;
                        border-color: transparent transparent transparent $secondary;
                    }
                }
            }

            &.avg {
                transform: translateY(-30.8725%);
            }

            &.k80 {
                transform: translateY(-64.4295%);
            }

            &.k150 {
                transform: translateY(-83.8926%);
            }

            &.top5 {
                transform: translateY(-64.4295%);
            }
        }
    }

    md-slider {
        margin-left: 34px;

        &.mat-slider-vertical {
            height: 100%;
            width: 38px;
            
            .mat-slider-wrapper,
            .mat-slider-track-wrapper,
            .mat-slider-track-background,
            .mat-slider-track-fill {
                width: 16px;
            }

            .mat-slider-wrapper {
                left: 11px;
            }

            .mat-slider-track-fill {
                background-color: $secondary;
            }

            .mat-slider-thumb-container {
                .mat-slider-thumb {
                    width: 40px;
                    height: 40px;
                    bottom: -20px;
                    right: -20px;
                    background-color: $primary;
                    border: none;
                }
            }
        }
    }
}

#content {
    overflow: hidden;
    position: absolute;
    transition: left 0.5s ease-in-out;
    top: 66px;
    bottom: 0;
    left: 0;
    right: 0;

    &.slider {
        left: 120px;
    }

    .results {
        padding: 15px 15px 5px 15px;

        h5 {
            text-transform: uppercase;
            color: #6f0015;
            font-size: 16px;
            font-weight: 800;
            margin: 0;
            position: relative;

            span {
                font-size: 12px;
            }

            .change-symbols {
                position: absolute;
                font-size: 20px;
                right: 5px;
                top: -2px;
                color: #910029;

                i {
                    font-style: normal;

                    &.active {
                        color: #fff;
                    }
                }
            }
        }

        .amount {
            color: #fff;
            font-weight: 800;
            font-size: 16px;
            line-height: 16px;
            margin-bottom: 4px;

            span {
                font-size: 10px;
            }

            &.l {
                font-size: 32px;
                line-height: 32px;

                span {
                    font-size: 20px;
                }
            }

            &.xl {
                font-size: 36px;
                line-height: 36px;

                span {
                    font-size: 24px;
                }
            }

            &.xxl {
                font-size: 50px;
                line-height: 50px;
            }
        }

        .manual-input {
            position: relative;

            @media (orientation: landscape) and (max-width: 800px) {
                max-width: 53%;
            }

            input {
                position:relative;
                background: none;
                border: none;
                font-size: 36px;
                line-height: 36px;
                color: #fff;
                font-weight: 800;
                font-family: $primary-font;
                width: 100%;
                text-align: left !important;
                outline: none;
                margin-top: -8px;
            }

            md-icon {
                position: absolute;
                right: 5px;
                top: -1px;
                color: #fff;
                font-size: 36px;
                cursor: pointer;
            }
        }

        .comparison {
            padding-top: 8px;
            margin-left: -12px;
            margin-right: -12px;
            overflow: hidden;
            margin-bottom: 8px;

            .left,
            .right {
                padding-left: 12px;
                box-sizing: border-box;

                h4 {
                    color: #fff;
                    font-weight: 800;
                    text-transform: uppercase;
                    margin: 0;
                    font-size: 16px;
                }
            }

            .left {
                float: left;
                width: 50%;
                border-right: 1px solid #6f0015;
            }

            .right {
                float: right;
                width: 50%;
            }
        }

        @media all and (orientation: landscape) and (max-width: 800px) { 
            .comparison {
                width: 60%;
            }

            .change {
                position: absolute;
                top: 15px;
                right: 15px;
                width: 40%;
            }
        }
    }

    .pay-for {
        position: absolute;
        top: 360px;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $primary;

        h3 {
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            font-size: 16px;
            margin: 10px 0;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                color: #fff;
                font-weight: 500;
                padding: 5px 10px;
                border-top: 1px solid $secondary;
            }
        }
    }
}

md-sidenav {
    width: 300px;
}

.mat-sidenav-container {
    background-color: $secondary;

    @media (min-width: 800px) {
        background-image: url(http://www.labour.org.uk/page/-/Images/vote-labour-bg-min.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top right;
    }
}
